{% load static %}
<link rel="stylesheet" href="{% static 'css/base_css.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">


{% block content %}
{% include 'header.html' %}
<div>
  <h1 style="text-align:center">Суходеева Галина Максимовна</h1>
    <div><img style="float:right;margin-top:60px" src="{% static 'img/file.jpeg' %}" alt="" width="30%" height="50%"></div>
<div style="margin-top:73px;line-height: 2">
<p style="text-indent: 56px">Уроженка г. Куйбышева (Самара).Там же окончила художественную школу. Два года работала худож-
ником-декоратором в Куйбышевском академическом театре драмы имени Горького. Окончила Заочный народ-ный университет
  искусств г. Москвы.</p>
<p style="text-indent: 56px">
  Проживая в г. Ленинграде (Санкт-Петербург), три года обучалась в «студии Суворова» — учебной мастерской Василия
  Суворова, преподавателя кафедры рисунка Ленинградского высшего художественно-промышленного училища имени В. И. Мухиной.
</p>
  <p style="text-indent: 56px">
    Позже окончила иконописные курсы при Ленинградской (Санкт-Петербургской) Духовной Академии. 25 лет посвятила иконописи.
    За это время отреставрировала и написала более трехсот икон, которые находятся в Уфе, Стерлитамаке, Красноусольске,
    Москве, Самаре, а также в Грузии и Бельгии. Кроме того, ею написаны пять иконостасов: для Крестовоздвиженского храма
    г. Уфы (Никольский придел), для храмов с. Чесноковка, с. Ира, с. Булгаково, с. Бердяш.
    В 2017 году стала членом Творческого союза художников России. С 2022 года, продолжая писать иконы, пишет картины на
светские темы: натюрморты, пейзажи, портреты, — пробуя себя в разных жанрах и стилях.
  </p>
  </div>
</div>
<div style="margin-top:20%">
{% include 'footer.html' %}
</div>
{% endblock %}