{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/picture.css' %}">
<link rel="stylesheet" href="{% static 'css/base_css.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">


{% include 'header.html' %}
<div style="text-align:center; min-height: 100vh;background:url({% static '/img/front-view-of-delivery-man-with-a-package.jpg' %})no-repeat;  background-size: 100%">
<div style="position: relative">
    <h1 style="text-align:center">Доставка</h1>



    <h3 style="text-align:center">Прежде чем заказать ознакомьтесь с условиями покупки</h3>
    <p style="text-align:center">Правила доставки и приобретения работ на сайте включают в себя следующие положения:</p>

</div>
<div style="position:absolute;right:37%; top:50%">
        <p>Способ доставки - почта России и СДЭК</p>
        <p>Предоплата 100 %</p>
        <p>Форма оплаты - онлайн после связи</p>
        <p>Доставка в стоимость картины не входит</p>
</div>

</div>





<div>

{% include 'footer.html' %}
</div>
{% endblock %}