<!DOCTYPE html>
{% load static %}



<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Title</title>
 <link rel="stylesheet" href="{% static 'css/base_css.css' %}">


    <link rel="icon" href="{% static 'favicon.ico' %}">

</head>
<body>
{% include 'header.html' %}

<div class="mass">
            <h1 style="left: 50%; position: absolute;top:50%;color: black">Арт-Галерея Суходеева</h1>

    <div>

<img src="{% static 'images/WhatsApp Image 2024-04-01 at 14.45.35.jpeg' %}">

    </div>

    <div>
<img src="{% static 'images/autumn-forest-700-52921478.jpg' %}" width="225%"  height="100%">
    </div>

</div>
{% include 'footer.html' %}

</body>
</html>
