<!DOCTYPE html>
{% load static %}



<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Title</title>
 <link rel="stylesheet" href="{% static 'css/base_css.css' %}">


    <link rel="icon" href="{% static 'favicon.ico' %}">

</head>
<body>
{% include 'header.html' %}

<div class="mass">
            <h1 style="left: 50%; position: absolute;top:20%;color: black; font-size: 80px; font-family: cursive">Арт  -   Галерея</h1><br>
            <h1 style="left: 50%; position: absolute;top:20%;color: black;font-size: 60px; margin-top: 20%">Галина Суходеева</h1>

    <div>

<img src="{% static 'img/WhatsApp Image 2024-04-01 at 14.45.35.jpeg' %}">

    </div>

    <div style="background-color: #C5E384; width: 100%">
        <div style="width: 1390px"></div>
    </div>

</div>
{% include 'footer.html' %}

</body>
</html>
