{% block content %}
<footer>
    <div class="clz">
<section class="frame">
    <section class="ssalc">
        <p>Контактные данные:  </p>
        <p>телефон:  89270877738</p>
        <p>watsaApp: 89270877738</p>

    </section>
    <section class="mid">
        <a href="{% url 'confined' %}"><p>Политика конфиденциальности</p></a>

    </section>
    <section class="zass">
        <p><a href="{% url 'rules' %}">Правила сайта</a></p>


    </section>
</section>
    </div>
</footer>


{% endblock %}