

{% block content %}

<header>
<section class="nazz">
<p class="first"><a href="{% url 'first' %}">Главная страница</a></p>
<p class="second"><a href="{% url 'about' %}">Обо мне</a></p>
<p class="three"><a href="{% url 'pictures:pictures'  %}">Картины</a></p>
<p class="four"><a href="{% url 'icon:icons' %}">Иконы</a></p>
{% if user.is_authenticated %}
     {% if user.is_staff %}
        <p class="admin"><a href="admin/">Админ</a></p>
    {% endif %}
{% else %}


    {% endif %}


</section>
</header>

{% endblock %}