{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/base_css.css' %}">
{% include 'header.html' %}

<h1 style="text-align:center">Правила сайта</h1>


<h3 style="text-align:center">1. Общие положения</h3>

<p style="text-indent:56px">1.1. Администрация сайта не разглашает недоступную публично информацию о пользователях.

1.2. Материалы, размещенные на сайте, отражают точку зрения их авторов и/или разместивших материалы участников. Банки.ру не несет ответственности за убытки, понесенные в результате действий, предпринятых на основании оценок, прогнозов и иной информации, содержащейся в сообщениях пользователей.

Мы просим вас с уважением относиться к принятым Администрацией решениям, избегать оскорблений в адрес модераторов и редакторов. Если вы не согласны с какими-либо действиями Администрации, вы можете направить обоснованную претензию на адрес электронной почты moderator@banki.ru.
</p>

<h3 style="text-align:center"> 2. Регистрация на сайте и профиль пользователя</h3>

<p style="text-indent:56px">2.1. При регистрации пользователь принимает настоящие Правила и Положения Пользовательского соглашения.

2.2. Для регистрации на сайте пользователь должен предоставить действующий адрес электронной почты и номер мобильного телефона: на него будет выслано СМС с кодом подтверждения регистрации. Если вы не получили код на указанный номер телефона, свяжитесь с Администрацией через форму обратной связи.

2.3. Логин (никнэйм) пользователя должен удовлетворять следующим требованиям:

2.3.1. запрещено использование логинов, более чем на треть состоящих из псевдографики;

2.3.2. запрещено использование логинов, имитирующих существующие логины пользователей или Администрации (в том числе посредством использования сходных по начертанию русских и латинских символов);

2.3.3. запрещено использование логинов, содержащих название организации (пользователям, не являющимся официальными представителями данной организации);


Администрация оставляет за собой право отредактировать логины, не соответствующие прописанным требованиям.

2.4. Запрещена множественная регистрация аккаунтов одним пользователем. В случае выявления подобного факта администрация оставляет за собой право заблокировать учетную запись без предупреждения и применить наказание к основному нику посетителя. Правило не распространяется на официальных представителей банков и компаний: такие пользователи вправе зарегистрировать на сайте несколько аккаунтов.

2.5. Запрещается использование аватаров, содержащих грубый, нецензурный или безграмотный текст либо неприличные изображения; аватаров, оскорбительных для посетителей сайта; аватаров, содержащих информацию рекламного характера.

2.6. Запрещается размещение в автоподписи и пояснении к профилю рекламы и предложений по оказанию любых видов услуг, в том числе консультационных.

2.7. Запрещается использование в автоподписи внешних ссылок, адресов сайтов, телефонов и прочих контактных данных. Перечисленные данные пользователь может при желании указать в своем профиле.

2.8. Запрещается использование в автоподписи увеличенного шрифта, полужирного шрифта, а также выделения цветом.

2.9. Для удаления аккаунта пользователю необходимо обратиться к модераторам, отправив сообщение на адрес электронной почты moderator@banki.ru с адреса, указанного им при регистрации. В этом случае все данные из личного профиля удаляются, а аккаунт деактивируется.

2.10. Администрация сайта оставляет за собой право заблокировать аккаунт пользователя без объяснения причин.

</p>
  <h3 style="text-align:center">3. На сайте запрещается:</h3>

<p style="text-indent:56px">3.1. Размещение сообщений, способствующих разжиганию любых видов розни, содержащих явные или скрытые призывы к совершению действий, противоречащих законодательству Российской Федерации.

3.2. Размещение сообщений, содержащих заведомо ложную информацию, клевету, намеренное искажение смысла высказываний собеседников, а также провокаций, направленных на участников обсуждения.

3.3. Использование нецензурной лексики и замещающих ее эвфемизмов.

3.4. Оскорбление пользователей сайта, хамство и переход на личности.

3.5. Провокационное поведение, нарушающее спокойное общение в теме (флейм, троллинг и т. п.).

3.8. Эмоциональное и неконструктивное обсуждение (в т. ч. попытки продолжить ранее пресеченную дискуссию) действий Администрации. При этом Администрация не отказывает в праве пользователям высказать свое мнение и всегда настроена на интеллигентное общение в форме обратной связи.

3.9. Обсуждение оценок репутации, полученных пользователем.


3.10. Обсуждение политики в любых разделах сайта.

3.11. Оскорбления и необоснованные обвинения в адрес сотрудников сайта и авторов размещенных на сайте материалов.

3.12. Размещение пользователями рекламных сообщений, в том числе скрытой рекламы, за исключением разделов Форума «Покупка, продажа, сотрудничество» (тематическая реклама) и «Барахолка» (частные объявления).

3.13. Избыточное визуальное выделение сообщений: использование в тексте исключительно заглавных букв, полужирного шрифта, курсива, чрезмерно большого или малого размера шрифта, более двух цветов шрифта и т. п.

3.14. Избыточное цитирование.

3.15. Неоднократное размещение одинаковых сообщений (спам), в том числе сообщений, ранее удаленных Администрацией в связи с нарушением автором настоящих Правил.
</p>
{% include 'footer.html' %}
{% endblock %}