{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/picture.css' %}">
<link rel="stylesheet" href="{% static 'css/base_css.css' %}">
<link rel="icon" href="{% static 'favicon.ico' %}">
{% include 'header.html' %}
{% for icon in icon_list %}

<div>
<div>
 <div>
  <p>Просмотры: {{ icon.viewers.count }}</p>

  <p style="line-height: 130%"><b> Название Иконы: </b></p>
  <p style="top:13px"><a href="{{icon.slug}}" style="color:black">{{ icon.name }}</a></p><br>
<i style="line-height: 130%"> Дата публикации: {{ icon.created }}</i><br>
 <p> Категории: {{ icon.category }}</p><br>
  </div>
 <div>
<img src="{{ icon.image.url }}" width="280" height="300" style="left: 35px; margin-bottom: 35px">
  </div>
</div>
</div>
{% endfor %}
<section style="margin-top:900px">
{% include 'footer.html' %}
</section>
<section style="margin-left:312px">
{% include 'icon/pagination.html' %}
</section>
{% endblock %}