{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/picture.css' %}">
<link rel="stylesheet" href="{% static 'css/base_css.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="icon" href="{% static 'favicon.ico' %}">
<style>
    body{
    background-image: url({% static 'images/5594016.jpg' %});
    }
</style>
{% include 'header.html' %}
<div class="frame-1">
    <div style="position:relative; bottom:50%">
        <img onclick="On(this)" ondblclick="Off(this)" src="{{ icon.image.url }}" width="470" height="350" style="left: 35px; margin-bottom: 35px">

    <p style="  position:relative;color:black;margin-left:82px"><b style="color:red">категория: </b><i>{{icon.category}}
        </i></p>
        <p style="color:black; margin-left:82px; position:relative">
            <b style="color:red">название: </b>{{icon.name}}
        </p>
    <p style="color:black;margin-left:82px; position:relative">
        <b style="color:red">описание: </b></p>
    <p style="color:black; margin-left:82px; position:relative">{{ icon.description }}</p>
    <p style="color:black; margin-left:82px; position:relative"><b style="color:red">дата создания: </b>{{icon.created|date:"d-m-Y"}}
</p>


        <div class="content">Galina</div>

</div>

    </div>
{% include 'footer.html' %}






{% endblock %}


