


.nazz{
box-sizing: border-box;
position: relative;

margin: 0;
padding: 0;
ist-style-type: none;
width: 99%;
height: 112px;
top: 0;

background: #E5E5E5;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;

}
.nazz {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nazz p {

display: inline
}

.nazz {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 2px solid #0066FF;
  border-radius: 20px 50px;
  width: 1830px;
  text-align: center;
  background-color: #33ADFF;
}
.nazz a {
  color: yellow;
  padding: 40px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 200px;
}
.nazz a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}




.mass{
position: relative;
width:77%;
height:65%;
margin-top:9%;

}
/*
.first{
position: absolute;
width: 224px;
height: 51px;


left: 16px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}


.second{
position: absolute;
width: 132px;
height: 55px;

left: 274px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}

.three{

position: absolute;
width: 132px;
height: 47px;

left: 429px;
top: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}

.four{
position: absolute;
width: 121px;
height: 41px;

left: 650px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}

.five{
position: absolute;
width: 185px;
height: 52px;

left: 1180px;
top: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}

.six{
position: absolute;
width: 96px;
height: 49px;

left: 947px;
top: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;
}

.admin{
position: absolute;
width: 251px;
height: 69px;

left: 1736px;
top: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}

.seven{
position: absolute;
width: 251px;

w: 120px;
left: 1400px;
top: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;

}
*/
.clz{
position: static;
box-sizing: border-box;
margin-top: 300px;
margin-right: 1000px;

}
.frame{

position: relative;

width: 1830px;
height: 25%;
text-align: center;
background: #242020;

}


.ssalc{

position: absolute;
width: 320px;
height: 174px;
left: 14px;
top: 35px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #F9EA9B;

}

.mid{
position: absolute;
width: 443px;
height: 61px;
left: 600px;
top: 75px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;


}
.mid a{
color: white;
}
.zass a{
color: white;

}
.kert{

position: absolute;
width: 223px;
height: 57px;
left: 891px;
top: 33px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #C8CF70;

}

.zass{
position: absolute;
width: 223px;
height: 57px;
left: 1360px;
top: 75px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #C8CF70;

}


.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}



